<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>惠权益</title>
    <!--<link href="../plug/layui/css/layui.css" rel="stylesheet" />-->
    {load href="__STATIC__/index/plug/layui/css/layui.css"}
    {load href="__STATIC__/index/plug/font-awesome/css/font-awesome.min.css"}
    <!--<link href="../plug/font-awesome/css/font-awesome.min.css" rel="stylesheet" />-->
    <!--全局样式表-->
    <!--<link href="../css/global.css" rel="stylesheet" />-->
    {load href="__STATIC__/index/css/global.css"}
    {load href="__STATIC__/index/css/home.css"}
    <!-- 本页样式表 -->
    <!--<link href="../css/home.css" rel="stylesheet" />-->
    <style type="text/css">
    </style>
</head>
<body>
    <!-- 导航栏-->
    <nav class="blog-nav layui-header">
        <div class="blog-container">
            <!-- logo 惠权益-->
            <a class="blog-logo" href="home.html">惠权益</a>
            <!-- 导航菜单 -->
            <ul class="layui-nav" lay-filter="nav">
                <li class="layui-nav-item layui-this">
                    <a href="{:url('index/index')}"><i class="fa fa-home fa-fw"></i>&nbsp;首页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="{:url('article/article')}"><i class="fa fa-file-text fa-fw"></i>&nbsp;活动</a>
                </li>
                <li class="layui-nav-item">
                    <a href="{:url('resource/resource')}"><i class="fa fa-tags fa-fw"></i>&nbsp;卡包</a>
                </li>
                <li class="layui-nav-item">
                    <a href="{:url('timeline/timeline')}"><i class="fa fa-hourglass-half fa-fw"></i>&nbsp;我的</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- 主体（一般只改变这里的内容） -->
    <div class="blog-body">
        <!-- 这个一般才是真正的主体内容 -->
        <div class="blog-container">
            <div class="blog-main">
                <!--左边文章列表-->
                <div class="blog-main-left">
                	<!--搜索页-->
                	<div class="article shadow">
                		<form class="search" action="{:url('about/about')}" method="get">
					    	<input class="search-con" type="text" name="find" value=""/>
							<input class="search-conten" type="submit" value="搜索" style="height: 30px;"/>
						</form>
					</div>
                	<!--版的图-->
                    <div class="article shadow">
                        <!--轮播图-->
					    <img src="/uploads/images/cover/201703142313157316.jpg">
					</div>
                    <!--卖赚钱-->
                    <div class="article shadow">
                    	<div class="sell transaction">
                    		<img src="/uploads/images/logo/赚钱.png" />
                    		<b>卖了赚大钱</b>
                    	</div>
                    	<div class="buy transaction">
                    		<img src="/uploads/images/logo/交易.png" />
                    		<b>我要买实惠</b>
                    	</div>
                    </div>
                    <!--服务最新线报 每日抢购等-->
                    <div class="article shadow shop">
                        <ul class="menu">
                        	<li><img src="/uploads/images/logo/最新.png"/><li>
                        	<li><p>最新线报</p></li>
                        </ul>
                        <ul class="menu">
                        	<li><img src="/uploads/images/logo/抢购.png"/><li>
                        	<li><p>每日抢购</p><li>
                        </ul>
                        <ul class="menu">
                        	<li><img src="/uploads/images/logo/活动.png"/><li>
                        	<li><p>每日活动</p><li>
                        </ul>
                        <ul class="menu">
                        	<li><img src="/uploads/images/logo/购买.png"/><li>
                        	<li><p>出售购买</p><li>
                        </ul>
                    </div>
                    <div class="article shadow">
                        <div class="good">
                        	<p class="p1"><img src=""/>每日抢购</p>
                        	<p class="p2">查看更多></p>
                        </div>
                        <!--<div class="new-good">
                        	<div class="new-good-img new-good-imgs"><img src="../images/cover/201703051349045432.jpg"/></div>
                        	<div class="new-good-img new-good-name">
                        		<p class="new-good-name-p1">商品名称:50原联通移动话费充值卡商品名称:50原联通移动话费充值卡商品名称:50原联通移动话费充值卡</p>
                        	</div>
                        	<div class="new-good-img new-good-name-p2">
                        		<p class=""><span>¥ 50</span><span class="del">¥ 150</span></p>
                        	</div>
                        </div>-->
                        <div class="new-good">
	                    	<div class="good-allshop good-allshop-img">
	                    		<img src="/uploads/images/cover/201703051349045432.jpg"/>
	                    	</div>
		                    <div class="good-allshop good-allshop-con">
		                    	<div class="good-allshop-content1 good-allshop-content">
		                    		<p class="good-allshop-content-p1">商品名称:50原联通移动话费充值卡商品名称:50原联通移动话费充值卡商品名称:50原联通移动话费充值卡</p>
		                    	</div>
		                    	<div class="good-allshop-content2 good-allshop-content">
		                    		<p>剩余:<span>555</span></p>
		                    		<p>已售出:<span>555</span></p>
		                    	</div>
		                    	<div class="good-allshop-content3 good-allshop-content">
		                    		<p class="good-allshop-content3-p"><span>¥ 50</span><span class="del">¥ 150</span></p>
		                    	</div>
		                    </div>
	                  	</div>
	                  	<div class="new-good">
	                    	<div class="good-allshop good-allshop-img"><img src="/uploads/images/Absolutely.jpg"/></div>
		                    <div class="good-allshop good-allshop-con">
		                    	<div class="good-allshop-content1">
		                    		<p class="good-allshop-content-p1">商品名称:50原联通移动话费充值卡商品名称:50原联通移动话费充值卡商品名称:50原联通移动话费充值卡</p>
		                    	</div>
		                    	<div class="good-allshop-content2">
		                    		<p>剩余:<span>555</span></p>
		                    		<p>已售出:<span>555</span></p>
		                    	</div>
		                    	<div class="good-allshop-content3">
		                    		<p class="good-allshop-content3-p"><span>¥ 50</span><span class="del">¥ 150</span></p>
		                    	</div>
		                    </div>
	                  	</div>
                        <!---->
                    </div>
                    <div class="article shadow">
                        <div class="good">
                        	<p class="p1"><img src=""/>热门活动</p>
                        	<p class="p2">查看更多></p>
                        </div>
                        <div class="activity">
                        	<img src="/uploads/images/Absolutely.jpg" />
                        </div>
                        <div class="activity">
                        	<img src="/uploads/images/Absolutely.jpg" />
                        </div>
                        <div class="activity">
                        	<img src="/uploads/images/Absolutely.jpg" />
                        </div>
                    </div>
                </div>
                <div class="clear" style="height: 20px;"></div>
            </div>
        </div>
    </div>
    <!--侧边导航-->
    <ul class="layui-nav layui-nav-tree layui-nav-side blog-nav-left layui-hide" lay-filter="nav">
        <li class="layui-nav-item layui-this">
            <a href="{:url('index/index')}"><i class="fa bottom-fa fa-home fa-fw"></i><b class="bottom-fa">&nbsp;首页</b></a>
        </li>
        <li class="layui-nav-item">
            <a href="{:url('article/article')}"><i class="fa bottom-fa fa-file-text fa-fw"></i><b class="bottom-fa">&nbsp;活动</b></a>
        </li>
        <li class="layui-nav-item">
            <a href="{:url('resource/resource')}"><i class="fa bottom-fa fa-tags fa-fw"></i><b class="bottom-fa">&nbsp;卡包</b></a>
        </li>
        <li class="layui-nav-item">
            <a href="{:url('timeline/timeline')}"><i class="fa bottom-fa fa-road fa-fw"></i><b class="bottom-fa">&nbsp;我的</b></a>
        </li>
    </ul>
    <!-- layui.js -->
    <!--<script src="../plug/layui/layui.js"></script>-->
    {load href="__STATIC__/index/plug/layui/layui.js"}
    {load href="__STATIC__/index/js/global.js"}
    {load href="__STATIC__/index/js/home.js"}
    {load href="__STATIC__/index/js/jquery.js"}
    <!-- 全局脚本 -->
    <!--<script src="../js/global.js"></script>-->
    <!-- 本页脚本 -->
    <!--<script src="../js/home.js"></script>-->
    <!--引入jquery-->
    <!--<script src="../js/jquery.js"></script>-->
    <!--事件-->
    <script>
//  	var divone = document.getElementById('good-allshop-img');
//  	dicone.style.height=divone.offsetWidth+'px';
    	$(function(){
    		//每日购框架
//  		$('good-allshop-img').height()
    		//卖了赚大钱点击事件
			$('.sell').click(function(){
				alert(1);
			})
			//买了实惠
			$('.buy').click(function(){
				location.href="{:url('about/about')}";
			})
		})
    </script>
</body>

</html>