<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            X-admin v1.0
        </title>
     <!--    <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="../include/css/x-admin.css" media="all"> -->
        {load href="__STATIC__/admin/css/x-admin.css,__STATIC__/admin/bootstrap/css/bootstrap.min.css"}
    </head>
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>会员管理</cite></a>
              <a><cite>分类管理</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <div class="x-body">
            <form class="layui-form x-center" action="good-list.php" method="get" style="width:50%">

                <div class="layui-form-pane" style="margin-top: 15px;">
                  <div class="layui-form-item">
                  <div class="layui-input-inline">
                      <select name="goodstype">
                        <option value="">--请选择查询类型--</option>
                        {foreach $type as $v} 
                        {if condition="$v.pid==0"}
                        <option disabled="" >{$v.name}</option>
                        {else /}
                        <option>----{$v.name}</option>
                        {/if}
                        {/foreach}
                      </select>
                    </div>
                  <div class="layui-input-inline" style="width:140px">
                        <input type="text" name="name"  placeholder="商品名" autocomplete="off" class="layui-input">
                    </div>
                    
                    <div class="layui-input-inline" style="width:80px">
                        <button class="layui-btn layui-btn-warm"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>搜索</button>
                    </div>
                  </div>
                </div> 
            </form>

            <xblock>
                <button class="layui-btn" onclick="cate_add('添加分类','good-add.php','660','560')"><i class="layui-icon">&#xe608;</i>添加商品</button>
                <!-- <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button> --><span class="x-right" style="line-height:40px">共有数据：  条</span>
            </xblock>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            <!-- <input type='checkbox' value='1' name=''> -->
                        </th>
                        <th>
                            ID
                        </th>
                        <th>
                            商品名
                        </th>
                        <th>
                            商品单价
                        </th>
                        <th>
                            商品图片
                        </th>
                        <th>
                            商品类别ID
                        </th>
                        <th>
                            添加时间
                        </th>
                        <th>
                            生产厂家
                        </th>
                        <th>
                            商品简介
                        </th>
                        <th>
                            状态
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody id="x-link">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                            <td class='td-manage'>
                                <!-- <a style='text-decoration:none' onclick="admin_stop()" href='javascript:;' title='停用'> -->
                                <!-- <i class='layui-icon'>&#xe601;</i> -->
                            </a>
                           <td class='td-status'>
                                    <span class='layui-btn layui-btn-disabled layui-btn-mini'>已下架</span>
                                </td>
                            <td class='td-manage'>
                            <a style='text-decoration:none' onclick="admin_start()" href='javascript:;' title='启用'><i class='layui-icon'>&#xe62f;</i></a>
                        
                        <a title='编辑'' href='javascript:;' onclick="cate_edit('编辑','good-edit.php','4','600','560')" class='ml-5' style='text-decoration:none'>
                                    <i class='layui-icon'>&#xe642;</i>
                             </a>
                            <a title='删除' href='javascript:;' onclick="cate_del()" 
                            style='text-decoration:none'>
                                <i class='layui-icon'>&#xe640;</i>
                            </a>
                        </td>
                    
                        </tr>
                    
                        
                </tbody>
            </table>
            <div id="page">
              
            </div>
        </div>
        <!-- <script src="../include/lib/layui/layui.js" charset="utf-8"></script>
        <script src="../include/js/x-layui.js" charset="utf-8"></script> -->
        {load href="__STATIC__/admin/lib/layui/layui.js,__STATIC__/admin/js/x-layui.js,__STATIC__/admin/js/jquery.min.js"}

        <script>
            layui.use(['element','layer','form'], function(){
                $ = layui.jquery;//jquery
              lement = layui.element();//面包导航
              layer = layui.layer;//弹出层
              form = layui.form();
            })




            function cate_add(title,url,w,h){
                x_admin_show(title,url,w,h);
            }
              
             /*停用*/
            function admin_stop(id){
                layer.confirm('确认要停用吗？',function(index){
                    //发异步把用户状态进行更改
                    window.location="good-action.php?a=state&id="+id;
                    // layer.msg('已停用!',{icon: 5,time:1000});
                });
            }

            /*启用*/
            function admin_start(id){
                layer.confirm('确认要启用吗？',function(index){
                    //发异步把用户状态进行更改
                    window.location="good-action.php?a=state&id="+id;
                });
            }


             //-编辑
            function cate_edit (title,url,id,w,h) {
                x_admin_show(title,url,w,h); 
            }
           
            /*-删除*/
            function cate_del(id){
                layer.confirm('确认要删除吗？',function(index){
                    //发异步删除数据
                    window.location="good-action.php?a=del&id="+id;

                    // layer.msg('已删除!',{icon:1,time:1000});
                });
            }
            </script>
            <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </body>
</html>